In [20]:
from sklearn.cluster import KMeans
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [3]:
titan =pd.read_csv('titanic_clean1.csv')

In [4]:
titan.head()

,Unnamed: 0,Pclass,Age,SibSp,Parch,Fare,Embarked,Title,Gen_male,Survived
0,0,3,22.0,1,0,7.2500,0,0,1,0
1,1,1,38.0,1,0,71.2833,1,1,0,1
2,2,3,26.0,0,0,7.9250,0,2,0,1
3,3,1,35.0,1,0,53.1000,0,1,0,1
4,4,3,35.0,0,0,8.0500,0,0,1,0

In [48]:
x_titan = titan.drop(['Survived', 'Unnamed: 0'], axis =1)

In [49]:
kmeans1 = KMeans(n_clusters=2, random_state=3).fit(x_titan)

In [50]:
kmeans1.labels_

array([0, 0, 0, ..., 0, 0, 0])

In [51]:
unique, counts = np.unique(kmeans1.labels_, return_counts=True)
dict(zip(unique, counts))

{0: 1238, 1: 71}

In [52]:
unique, counts = np.unique(titan.Survived, return_counts=True)
dict(zip(unique, counts))

{0: 759, 1: 550}

# Predicting model using logistic regression

In [53]:
x = x_titan
y = pd.DataFrame(data=kmeans1.labels_, columns=['Target'])

In [54]:
y.sum()

Target    71
dtype: int64

In [55]:
trainX, testX, trainY, testY = train_test_split(x,y,test_size=0.3, random_state=22)

In [56]:
model = LogisticRegression(max_iter=1000)

model.fit(trainX,trainY)

predictions = model.predict(testX)

C:\Users\Public\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [57]:
from sklearn import metrics

In [58]:
print ('testing accuracy = ', metrics.accuracy_score(testY, predictions))

testing accuracy =  1.0

In [60]:
predictions = model.predict(trainX)
print ('training accuracy = ', metrics.accuracy_score(trainY, predictions))

training accuracy =  1.0

In [61]:
print(metrics.classification_report(trainY, predictions))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       867
           1       1.00      1.00      1.00        49

    accuracy                           1.00       916
   macro avg       1.00      1.00      1.00       916
weighted avg       1.00      1.00      1.00       916

In [62]:
from sklearn.metrics import confusion_matrix
print(metrics.confusion_matrix(trainY, predictions))

[[867   0]
 [  0  49]]

# 100% accuracy acheived by using K Means and then logistic algorithm

In [68]:
from sklearn.model_selection import StratifiedKFold

# evaluate a logistic regression model using k-fold cross-validation
from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression



# prepare the cross-validation procedure
cv = StratifiedKFold(n_splits=5, random_state=22, shuffle=True)

# create model
model = LogisticRegression()

# evaluate model
scores = cross_val_score(model, x, y, scoring='accuracy', cv=cv, n_jobs=-1)

# report performance
print('Accuracy: %.3f (%.3f)' % (mean(scores), std(scores)))

Accuracy: 1.000 (0.000)