In [3]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [4]:
#df = pd.read_csv('hpp.csv')
df =pd.read_csv('titanic_clean1.csv')

In [5]:
df.head()

,Unnamed: 0,Pclass,Age,SibSp,Parch,Fare,Embarked,Title,Gen_male,Survived
0,0,3,22.0,1,0,7.2500,0,0,1,0
1,1,1,38.0,1,0,71.2833,1,1,0,1
2,2,3,26.0,0,0,7.9250,0,2,0,1
3,3,1,35.0,1,0,53.1000,0,1,0,1
4,4,3,35.0,0,0,8.0500,0,0,1,0

In [6]:
df.shape

(1309, 10)

In [7]:
df.columns

Index(['Unnamed: 0', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked',
       'Title', 'Gen_male', 'Survived'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1309 non-null   int64
 1   Pclass      1309 non-null   int64
 2   Age         1309 non-null   float64
 3   SibSp       1309 non-null   int64
 4   Parch       1309 non-null   int64
 5   Fare        1309 non-null   float64
 6   Embarked    1309 non-null   int64
 7   Title       1309 non-null   int64
 8   Gen_male    1309 non-null   int64
 9   Survived    1309 non-null   int64
dtypes: float64(2), int64(8)
memory usage: 102.4 KB

In [9]:
df.describe()

,Unnamed: 0,Pclass,Age,SibSp,Parch,Fare,Embarked,Title,Gen_male,Survived
count,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000
mean,369.478992,2.294882,29.896894,0.498854,0.385027,33.280206,0.394194,0.620321,0.644003,0.420168
std,248.767105,0.837836,13.193803,1.041658,0.865560,51.741830,0.653499,0.795774,0.478997,0.493774
min,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,163.000000,2.000000,21.774238,0.000000,0.000000,7.895800,0.000000,0.000000,0.000000,0.000000
50%,327.000000,3.000000,30.000000,0.000000,0.000000,14.454200,0.000000,0.000000,1.000000,0.000000
75%,563.000000,3.000000,36.000000,1.000000,0.000000,31.275000,1.000000,1.000000,1.000000,1.000000
max,890.000000,3.000000,80.000000,8.000000,9.000000,512.329200,2.000000,2.000000,1.000000,1.000000

In [10]:
df.value_counts()

Unnamed: 0  Pclass  Age        SibSp  Parch  Fare      Embarked  Title  Gen_male  Survived
0           3       22.000000  1      0      7.2500    0         0      1         0           1
442         3       25.000000  1      0      7.7750    0         0      1         0           1
460         1       48.000000  0      0      26.5500   0         0      1         1           1
459         3       32.252151  0      0      7.7500    2         0      1         0           1
458         2       50.000000  0      0      10.5000   0         2      0         1           1
                                                                                             ..
217         2       42.000000  1      0      27.0000   0         0      1         0           1
            1       57.000000  1      1      164.8667  0         0      1         1           1
216         3       27.000000  0      0      7.9250    0         2      0         1           1
                    21.774238  0      0      7.8792    2         2      0         0           1
890         3       32.000000  0      0      7.7500    2         0      1         0           1
Length: 1309, dtype: int64

In [11]:
x = df.drop(['Unnamed: 0', 'Survived'],axis=1)
y = df['Survived']

In [12]:
trainX, testX, trainY, testY = train_test_split(x,y,test_size=0.3, random_state=22)

In [13]:
model = LogisticRegression(max_iter=1000)

model.fit(trainX,trainY)

predictions = model.predict(testX)

In [14]:
from sklearn import metrics

In [15]:
print ('testing accuracy = ', metrics.accuracy_score(testY, predictions))

testing accuracy =  0.7150127226463104

In [16]:
predictions = model.predict(trainX)
print ('training accuracy = ', metrics.accuracy_score(trainY, predictions))

training accuracy =  0.7085152838427947

# the model is under fit

In [29]:
print(metrics.classification_report(trainY, predictions))

              precision    recall  f1-score   support

           0       0.72      0.81      0.77       540
           1       0.68      0.56      0.61       376

    accuracy                           0.71       916
   macro avg       0.70      0.69      0.69       916
weighted avg       0.70      0.71      0.70       916

In [30]:
from sklearn.metrics import confusion_matrix
print(metrics.confusion_matrix(trainY, predictions))

[[440 100]
 [167 209]]